<nav class="navbar navbar-light navbar-fixed-top" style="background-color: #ecefee;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#my_nav" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Diary</a>
    </div>
    <div class="collapse navbar-collapse" id="my_nav">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{% url 'home' %}">Home<span class="sr-only">(current)</span></a></li>
        <li ><a href="{% url 'post:list' %}">List of Posts</a></li>
        <li><a href="{% url 'post:create' %}">Create Post</a></li>
        <li><a href="{% url 'feedback' %}">Feedback</a></li>
        <form class="navbar-form navbar-left" method="GET" action="{% url 'post:search' %}">
            <div class="form-group">
              <input type="search" class="form-control" placeholder="Search" name='q'>
            </div>
            <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-search"></i></button>
        </form>
        <!-- <li><a href="#">About</a></li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
      {% if user.is_authenticated%}
          <!-- #интересная находка по поводу такой ссыли -->
              <!-- <li class="navbar-text"> user.profile.full_name }</li> -->
              <li class="nav navbar-text">Welcome, {{user.username}}</li>
              <li><a href="{% url 'account:logout' %}">Log out</a></li>
              <li><a href="{% url 'account:profile_view' %}">Your Profile</a></li>
          {% else%}
          <li><a href="{% url 'account:login' %}">Log In</a></li>
          <li><a href="{% url 'account:signup' %}">Sign Up</a></li>
      {% endif%}
      </ul>
    </div>
  </div>
</nav>
